@model IEnumerable<ShopTARge24.Models.Spaceships.SpaceshipIndexViewModel>

@{
	int rowNumber = 1;
}

<div>
	<a asp-action="create" asp-controller="Spaceships" type="submit" class="btn btn-primary">Create</a>
</div>

<div class="h1">
	Spaceships
</div>
<form method="post">
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">Nr</th>
				<th scope="col">Name</th>
				<th scope="col">Type</th>
				<th scope="col">Built Date</th>
				<th scope="col">Crew</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			@foreach(var spaceship in Model)
				{
					<tr>
						<td>@rowNumber</td>
						<td>@spaceship.Name</td>
						<td>@spaceship.Classification</td>
						<td>@spaceship.BuiltDate</td>
						<td>@spaceship.Crew</td>
						<td>
							<a asp-action="details" asp-controller="spaceships" asp-route-id="@spaceship.Id" class="btn btn-primary">Details</a>
							<a asp-action="update" asp-controller="spaceships" asp-route-id="@spaceship.Id" class="btn btn-primary">Update</a>
							<a asp-action="delete" asp-controller="spaceships" asp-route-id="@spaceship.Id" class="btn btn-outline-danger">Delete</a>
						</td>
					</tr>
				rowNumber += 1;
				}
		</tbody>
	</table>
</form>